<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Scrambler</title>
    <!-- <link rel="stylesheet" href="../static/index.css"> -->
    <link href="{{ url_for('static', path='../static/index.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
        <h1>Text Scrambler</h1>
        <p>Helping you safely share content on social media.</p>
        <div class="input-container">
            <form action="/redact" method="post">
                <label for="content">Content:</label>
                <textarea name="content" id="content" placeholder="Paste or write your content here..."></textarea>
                <label for="words">Words to Scramble:</label>
                <input name="words" type="text" id="words" placeholder="Separate words with space">
                <label for="replacement">Replacement (optional):</label>
                <input name="replacement" type="text" id="replacement" placeholder="e.g. ****, ???, ---, etc.">
                <button id="redact-btn">Redact Now</button>
            </form>
        </div>
        <div class="output-container">
            <h2>Redacted Content:</h2>
            <textarea name="redacted_content" id="redacted_content" readonly>{{ redacted_content }}</textarea>
        </div>
        <div class="stats-container">
            <h2>Stats:</h2>
            <ul>
                <li>Total words scanned: <span id="total-words">{{ words_scanned}}</span></li>
                <li>Words redacted: <span id="redacted-words">{{ matches }}</span></li>
                <li>Total characters scrambled: <span id="char-scrambled">{{ scrambled_words }}</span></li>
                <li>Time taken: <span id="time-taken">{{ duration }}</span> seconds</li>
            </ul>
        </div>
    </div>
</body>
</html>